.add-pet-form-parent {
    margin-left: 10%;
}
.form-section {
    margin: 20px;
    display: block;
}

.radio-label {
    display: inline;
}

.add-pet-form {
    border: 1px solid grey;
    float: left;
    text-align: left;
}

.checkbox-label {
    width: 120px;
    float: right;
    margin: 10px 10px 10px 0px;
    /* text-align: left; */
}

input[type=checkbox] {
    height: 18px;
    width: 18px
}